.navbar-brand {
  background: url("../img/logo-removebg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-indent: -9999px;
  height: 60px;
  width: 150px;
}
body {
  background: #F5F5F5;/*#333333;*/
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding-top: 20px;
}
.home .navbar-inverse {
    background-color: #052e70;/*rgba(0, 0, 0, 0.5);*/
}
.home .jumbotron {
  position: relative;
  background: #ffffff;/*#2c689c;*/
  color: black;
  margin-bottom: 0;
  padding: 7.5em 0 3.75em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.home .big-search {
  background: #F7F7F7;/* #333333; */
  color: black;
  padding-bottom: 3em;
  padding-top: 1em;
}
.home .big-search .btn-default {
  background: transparent;
  border: none;
  color: #7F7F7F;/*#ff8f31;*/
}
.home #datasets {
  background: #002D55;/*@brand-primary;*/
  color: white;
  padding: 1em 0;
}
.home #datasets a {
  color: white;/*#333333;*/
}
.home #datasets a .category:hover {
  color: #333333;/*#2c689c;*/
}
.jumbotron {
  background: white;/*#2c689c;*/
  color: black;/*white;*/
  padding: 40px 0 60px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  margin-top: -10px;
}
/* Footer
----------------------- */
footer {
color: #6A6A6A;/*white;*/
  padding: 1.5em;
}
footer a {
  color: #333333;/*#ff8f31;*/
}
footer a:hover {
  color: #333333;/*#eb6b00;*/
}
footer form {
  color: #333333;
}
