/********** users **********************/
.email-profile {
  color: #777;
  font-weight: 200;
  font-size: 12px;
}
.result_total {
  color: #042E6F;
  font-weight: 700;
}
.profile-avatar {
  background: #d9d9d9;
  padding: 0;
  border-color: #d9d9d9;
  border-radius: 5px;
}
.profile-image-item {  
  background: #d9d9d9;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 0px;
}
.profile-image-item img {
  width: 80%;
  border-radius: 50%;
}

.profile-details {
  background: #d9d9d9;
  padding-right: 4px;
}
.profile-avatar .profile-items {
  border-top: none;
}
.profile-avatar h5 a {
  color: #042E6F;
}
/************** profile style **************/
.email-atribute {
    color: #777777;
}
.profile-image img {
  width: 50%;
  border-radius: 50%;
}
.table-user-profile-attribute {
  color: #042E6F;
}
.table > tbody > tr > td {
  border-top: none;
}
#item-important{
    background-color: #042E6F;
}
#item-important a{
  color: #fff;
}
.list-group-item a span{
  color: #000;
}
.resource-title h4, .resource-title h3 {
   color: #042e6f;
}
/************** model-content **************/
.modal-content {
  background-color: #D9D9D9;
  color: #042E6F;
}
.btn-primary {
  color: #fff;
  background-color: #042E6F;
  border-color: #042E6F;
}
/*a {
  color: #042E6F;
}*/
.modal-header { 
  border-bottom: 1px solid #d9d9d9;
}
.modal-footer {
  border-top: 1px solid #d9d9d9;
}
/************* mask *******************/
.lmask {
  position: absolute;
  visibility: hidden;
  height: 100%;
  width: 100%;
  background-color: #000;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  opacity: 0.35;
}
/************* dropdwon menu ************************/
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
  background-color: white;
  color: #042E6F;
}
.navbar-nav .dropdown-menu li a:hover {
  background-color: #d9d9d9;
  color: #042E6F;
}
.navbar-nav .dropdown-menu {
  background-color: white;
  border-top: 1px solid white;  
}
.navbar-nav .dropdown-menu a {
  color: #042e6f;
}
.navbar-nav .dropdown-menu .divider {
  background-color: #d9d9d9;
}

/**************Explorer site **************/
#sort .selected {
  color: #042e6f;
  background-color: #d9d9d9;
}
#sort a {
  color: #042e6f;
}
.dropdown-menu {
    border: 1px solid white;/*#042e6f;*/
}
.pagination > li > a, .pagination > li > span {
  color: #042E6F;
  border: none;
}
.pagination > li .big-font-pager {
  font-size: 1.2em;
  font-weight: bold;
  color: #000;
}
.pagination > li .pagerindex{
  color: #000;
}
.item-details .abstract p { 
  color: #000;
}
.item-details h4 a { 
  color: #042E6F;
}
.treeview span.node-icon {
  padding-right: 17px;
  visibility: collapse;
}
.ol-zoom .ol-zoom-in, .ol-zoom .ol-zoom-out {
  border-radius: 5px 5px 5px 5px;
}
.ol-control button{
  background-color: #042E6F;
  border-radius: 5px 5px 5px 5px;
}
.fa-stack {
   color: #042E6F;
}
#clear-search {
  float: right !important;
  color: #042E6F;
}
.filter .search .fa-search {
  position: absolute;
  top: 8px;
  left: 25px;
}
.filter .search input {
  width: 100%;
  height: 32px;
  border: 1px solid #333333;
  border-radius: 5px;
  outline-width: 0;
  text-indent: 32px; 
  transition: width 0.2s;
  background-image: url( "../img/search-icon.png");
  background-repeat: no-repeat;
  background-size: 3em auto;
  background-position: 0.4em center;  
  padding: 2px 15px;
}
.other-search-btn{
	color: #000;
	background-color: #D9D9D9;
	border: none;
position: absolute;
top: 4px;
left: 10px;
}
#other-search-autocomplete{
  width: 100%;
}
.autocomplete-input #other_search_input{
  width: 100%;
  height: 32px;
  border: none;/*1px solid #333333;*/
  border-radius: 5px;
  outline-width: 0;
  text-indent: 32px; 
  transition: width 0.2s;
 /* background-image: url( "../img/search-icon.png");*/
  background-repeat: no-repeat;
  background-size: 3em auto;
  background-position: 0.4em center;
  padding: 2px 15px;
  background-color: #d9d9d9;
  color: #000;
  font-weight: bold;
}
.autocomplete-input input-group {
  display: block;
}
.list-group-item > .badge {
  float: right;
  color: #fff;
}
.selections {
  margin-top: 1em;
  font-weight: 900;
}
nav.filter .active {
  color: #042E6F;
}
nav.filter .active .badge {
  background: #042E6F;
}
nav.filter li a {
  border-bottom: 1px solid #eeeeee;
  cursor: pointer;
  padding: 5px 10px;
  color: #000;
}
nav.filter h4 {
  background: #042E6F;
  font-size: 14px;
  font-weight: 900;
  padding: 10px 0;
  text-transform: none;
  border-radius: 3px;
}
.page-header {
  padding-bottom: 10px;
  margin: 44px 0 22px;
  border-bottom: 1px solid #eeeeee;
  color: #042E6F;
}
.ng-binding {
  color: #000;
}
.list-inline .ng-binding .fa {
  color: #042E6F;
}
.panel-default > .panel-heading {
  color: #fff;
  background-color: #042E6F;
  border-color: #042E6F;
  font-weight: 900;
}
.btn-default {
  background-color: #042E6F;
  border-color: #042E6F;
  color: #fff;
}
/********** showcase **********************/
.home #showcase {
  background: #fff;
  padding: 2em 0;
  text-align: center;
}
.home #showcase .row {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}
.btn-default {
  background-color: #777;
  border-color: #777; 
}
.home-facets .btn{
    color: #FFFFFF;
}
.home-facets a{
    color: #042E6F;
}
.home-facets a i {
    color: #777777;
}

/**********  categories and badge   ****/
.iso-categories .row span {
  font-size: 0.7em !important;
  position: absolute;
  margin-top: 0%;
  margin-left: 25%;
  background-color: #D9D9D9;
}
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  /* font-size: 14px; */
  font-weight: bold;
  line-height: 1;
  color: #777;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  /* background-color: #777777;*/
  border-radius: 10px;
}
.pull-right {
  float: right !important;
  color: #fff;
}
.home-brand {
  float: left;
  padding: 14px 15px;
  font-size: 20px;
  line-height: 22px;
}
.home-brand {
  background: url("../img/logo-GeoCEM.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-indent: -9999px;
  height: 300px;
  width: 523px;
}
/****** language header                     ****/
.fselect {
  padding-top: 20px;
  padding-bottom: 15px;
}
.slanguage_header {
  color: white;
  font-weight: 600;
  border: none;
  /*height: 60px;*/
  line-height: 22px;
  position: relative;
  display: block;
  padding: 5px 25px;
  background: #042E6F;
  /*for icon*/
  background-image: url( "../img/world.png");
  background-repeat: no-repeat;
  background-size: 0.8em auto;
  background-position: 0.4em center;

}
.slanguage_header option {
    background-color: white!important;
    color: #042E6F!important;
    font-weight: 600!important;
}
/** .slanguage_header option:not(:checked) {
    background-color: #fff;
    color: #042E6F
}**/
/******************************************/
.slanguage_footer {
  color: black;
  font-weight: 600;
  border: none;
  /*height: 60px;*/
  line-height: 22px;
  position: relative;
  display: block;
  padding: 5px 25px;
  background-color: transparent;
  /*for icon*/
  background-image: url( "../img/world_dark.png");
  background-repeat: no-repeat;
  background-size: 0.8em auto;
  background-position: 0.4em center;
  width: 200px;
  text-align-last: right;
}
.slanguage_footer option {
    background: #BBBBBB;
    color: #000000;
    font-weight: 600;
    direction: rtl;
}

/******************************************/
#wrap {
    background-color: transparent;
    padding:0px;
}
.navbar-inverse .nav-container {
  margin: 0 2% 0 2%; 
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
.sponsor-fapesp {
  background: url("../img/apoio-logo-fapesp.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-indent: -9999px;
  height: 60px;
  width: 150px;
  float: left;
}
.sponsor-cepid {
  background: url("../img/apoio-logo-cepid.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-indent: -9999px;
  height: 66px;
  width: 75px;
  float: left;
}
.sponsor-usp {
  background: url("../img/apoio-logo-usp.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-indent: -9999px;
  height: 60px;
  width: 125px;
  float: left;
}
.sponsor-cebrap {
  background: url("../img/apoio-logo-cebrap.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-indent: -9999px;
  height: 60px;
  width: 138px;
  float: left;  
}
.inst-brand {
  float: left;
  padding: 14px 15px;
  font-size: 20px;
  line-height: 22px;
}
.inst-brand {
  background: url("../img/logo-removebg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-indent: -9999px;
  height: 60px;
  width: 150px;
}
.navbar-brand {
  background: url("../img/logo-GeoCEMbg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-indent: -9999px;
  height: 60px;
  width: 150px;
}

body {
    background: transparent;/* #042E6F; #F5F5F5;#333333;*/
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding-top: 20px;
}
.home .navbar-inverse, .navbar-inverse {
    background-color: #042E6F;/*rgba(0, 0, 0, 0.5);*/
    margin-right: auto;
    margin-left: auto;

}
.home .jumbotron {
  position: relative;
  background: #042E6F;/*#ffffff;#2c689c;*/
  color: white;
  margin-bottom: 0;
  padding: 2.5em 0 3.75em;
  text-shadow: none;/*2px 2px 2px rgba(0, 0, 0, 0.4);*/
  
  width: 100%;
}
.home .big-search {
  background: #F7F7F7;/* #333333; */
  color: black;
  padding-bottom: 3em;
  padding-top: 1em;
}
.home .big-search .btn-default {
  background: transparent;
  border: none;
  color: #7F7F7F;/*#ff8f31;*/
}
.home #datasets {
    background: #042E6F;/*#002D55;@brand-primary;*/
  color: white;
  padding: 1em 0;
}
.home #datasets a {
  color: white;/*#333333;*/
}
.home #datasets a .category:hover {
  color: #333333;/*#2c689c;*/
}
.home #datasets a .category { 
  margin: 0 -15px;
  padding: 0;
}
.jumbotron .container{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.jumbotron {
  background: #042E6F;/*#2c689c;*/
  color: white;
  padding-top: 30px;
  /* padding: 40px 0 60px;*/
  /* margin-left: 15px;
  margin-right: 15px;*/
  text-shadow: none; /* 2px 2px 2px rgba(0, 0, 0, 0.4);*/
  /*margin-top: -10px;*/
}
/* Footer
----------------------- */
footer {
  color: #000;/*white;*/
  padding: 1.5em;
  background-color: #BBB;
}
footer a {
  color: #000;/*#ff8f31;*/
}
footer a:hover {
  color: #333333;/*#eb6b00;*/
}
footer form {
  color: #333333;
}
/* for new style */

footer .wrap-outer-footer-institute {
    background: #fff;
    font-size: 9px;
    color: #333;
    right: 0;
    left: 0;
    position: fixed;
}
footer .container {    
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
}
footer .wrapper-institute {
    padding: 20px 0;
}
footer .footer-info-institute {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
}
footer .about-cem {
    color: #000000; /*#dedede;*/
    margin-right: 4%;
    text-transform: uppercase;
    white-space: nowrap;
}

.footer-info-institute img {
  float: left;
  /*width: 100px;*/
  height: 40px;
  padding-left: 18px;
}
footer .about-cem span {
  position: relative;
  left: 20px;
}
/*end*/
/**********mosaico***********/
.item_figure {
  border: 1px #cccccc solid;
  padding: 4px;
  margin: auto;
}
.item_figure img{
    width: 100%;
}
.legend_figure {
  background-color: rgb(53,149,246);;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}



