/****** language                     ****/
.fselect {
  padding-top: 20px;
  padding-bottom: 15px;
}
.slanguage {
  color: white;
  font-weight: 600;
  border: none;
  /*height: 60px;*/
  line-height: 22px;
  position: relative;
  display: block;
  padding: 5px 25px;
  background-color: transparent;
  /*for icon*/
  background-image: url( "../img/world.png");
  background-repeat: no-repeat;
  background-size: 0.8em auto;
  background-position: 0.4em center;
}
/******************************************/
.inst-brand {
  float: left;
  padding: 14px 15px;
  font-size: 20px;
  line-height: 22px;
}
.inst-brand {
  background: url("../img/logo-removebg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-indent: -9999px;
  height: 60px;
  width: 150px;
}
.navbar-brand {
  background: url("../img/logo-GeoCEMbg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-indent: -9999px;
  height: 60px;
  width: 150px;
}

body {
  background: #F5F5F5;/*#333333;*/
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding-top: 20px;
}
.home .navbar-inverse, .navbar-inverse {
    background-color: #052e70;/*rgba(0, 0, 0, 0.5);*/
}
.home .jumbotron {
  position: relative;
  background: #ffffff;/*#2c689c;*/
  color: black;
  margin-bottom: 0;
  padding: 7.5em 0 3.75em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.home .big-search {
  background: #F7F7F7;/* #333333; */
  color: black;
  padding-bottom: 3em;
  padding-top: 1em;
}
.home .big-search .btn-default {
  background: transparent;
  border: none;
  color: #7F7F7F;/*#ff8f31;*/
}
.home #datasets {
  background: #002D55;/*@brand-primary;*/
  color: white;
  padding: 1em 0;
}
.home #datasets a {
  color: white;/*#333333;*/
}
.home #datasets a .category:hover {
  color: #333333;/*#2c689c;*/
}
.jumbotron {
  background: white;/*#2c689c;*/
  color: black;/*white;*/
  padding: 40px 0 60px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  margin-top: -10px;
}
/* Footer
----------------------- */
footer {
color: #6A6A6A;/*white;*/
  padding: 1.5em;
}
footer a {
  color: #333333;/*#ff8f31;*/
}
footer a:hover {
  color: #333333;/*#eb6b00;*/
}
footer form {
  color: #333333;
}
/* for new style */

footer .wrap-outer-footer-institute {
    background: #fff;
    font-size: 9px;
    color: #333;
    right: 0;
    left: 0;
    position: fixed;
}
footer .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
footer .wrapper-institute {
    padding: 20px 0;
}
footer .footer-info-institute {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
}
footer .about-cem {
    color: #000000; /*#dedede;*/
    margin-right: 4%;
    text-transform: uppercase;
    white-space: nowrap;
}

.footer-info-institute img {
  float: left;
  /*width: 100px;*/
  height: 40px;
  padding-left: 18px;
}
footer .about-cem span {
  position: relative;
  left: 20px;
}
/*end*/
/**********mosaico***********/
.item_figure {
  border: 1px #cccccc solid;
  padding: 4px;
  margin: auto;
}
.item_figure img{
    width: 100%;
}
.legend_figure {
  background-color: rgb(53,149,246);;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}



