{% load i18n %}
{% if iso_formats %}
      <div class="container">
          <div class="row">
            <div class="container text-center iso-categories">
              <h3>{% trans "Comece navegando por nossos conjunto de dados" %}</h3>	      
                <div class="row">
                  {% for iso_format in iso_formats %}
                  <!-- <div class="col-xs-4 col-sm-3 col-md-2"> -->
		    <div class="col-xs-4">
		      <a
                      href="{% url "search" %}?limit=100&offset=0&category__identifier__in={{ iso_format.category__identifier }}">
                      <div class="category" data-toggle="tooltip" data-placement="auto"
                        title="{% trans iso_format.category__description %}">
                        <span class="badge badge-secondary">{{ iso_format.count }}</span>
                        <i class="fa {{ iso_format.category__fa_class }} fa-3x"></i>
                        <h4>{% trans iso_format.category__gn_description %}</h4>
                      </div>
		      </a>
                  </div>
                  {% endfor %}
                </div>
            </div>
          </div>
      </div>
{% endif %}
